@font-face {
  font-family: 'Outfit';
  src: url('../FONTS/Outfit/Outfit-VariableFont_wght.ttf')
}

:root {
  /* --blue-bg: #110e20; */
  /* purple */
  /* --blue-bg: #130f27; */
  /* blue */
  /* --blue-bg: #060318; */
  /* blue very dark */
  --blue-bg: rgb(25, 25, 42);
  --glass-blue-bg: rgba(32, 32, 53, 80%);
  /* --card-black: #292937; */
  /* --main-black: #010210; */
  /* --main-black: rgb(18, 18, 25); */
  --main-black: rgb(9, 6, 20);
  /* blue */
  /* --main-grey: #14141a; */
  /* previous */
  --blue-shadow: #3d3d56;
  --main-border: rgb(80, 75, 95);
  /* --main-border: rgb(61, 61, 86); */
  /* --text-white: #c3c3ce; */
  --text-white: rgb(206, 206, 210);
  --text-grey: rgb(165, 165, 175);
  /* purple */
  /* --demo-btn: #302173; */
  --demo-btn: rgb(55, 55, 105, 0.7);
  /* blue */
}

/* .Content { */
/*   display: flex; */
/*   flex-direction: column; */
/*   justify-content: space-evenly; */
/*   gap: 3.5rem; */
/* } */

.standard-sep {
  height: 3.5rem;
}

.rem-sep {
  height: 1rem;
}

.page-section {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  color: var(--text-white);
}

p {
  color: var(--text-grey);
  z-index: 1000;
}

.neutral-glass {
  position: relative;
  z-index: -2;
}

.neutral-glass:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  border-radius: inherit;
  background: linear-gradient(155deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  z-index: -1;
}

.simple-glass {
  position: relative;
  z-index: -1;
}

.simple-glass:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  border-radius: inherit;
  background: linear-gradient(135deg, rgba(25, 25, 55, 0.09), rgba(225, 225, 255, 0.15));
  z-index: -1;
}

.simple-glass-invert {
  position: relative;
  z-index: -1;
}

.simple-glass-invert:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  border-radius: inherit;
  background: linear-gradient(135deg, rgba(225, 205, 205, 0.15), rgba(25, 25, 55, 0.09));
  z-index: -1;
}

.faded-glass {
  position: relative;
  z-index: -3;
}

.faded-glass:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  border-radius: inherit;
  background: linear-gradient(155deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.10));
  z-index: -2;
}

.faded-glass:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  border-radius: inherit;
  background: linear-gradient(135deg, transparent, rgba(185, 185, 255, 0.1), transparent);
  /* background: linear-gradient(135deg, transparent, rgba(255, 255, 255, 0.1), transparent); */
  z-index: -1;
}

.blue-sun {
  position: relative;
  z-index: -1;
}

.blue-sun:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0%;
  background:
    linear-gradient(180deg, rgba(255, 120, 190, 0.1), transparent),
    linear-gradient(155deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  left: 0%;
  border-radius: inherit;
  z-index: -1;
}

.classic-paragraph {
  color: var(--text-grey);
  font-size: 1.3rem;
  font-weight: 500;
  align-items: center;
  text-align: center;
}

.classic-btn {
  position: relative;
  padding: 1rem;
  font-size: 1rem;
  color: var(--text-white);
  border-radius: 0.5rem;
  background-color: var(--demo-btn);
  font-weight: 600;
  border-style: none;
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.25), inset -1px -1px 2px rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.classic-btn::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(90deg, rgba(255, 150, 150, 0.1), rgba(0, 0, 0, 0.25));
}

.classic-btn::before {
  content: '';
  position: absolute;
  top: 0%;
  left: -101%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: 1s ease;
}

.classic-btn:hover {
  cursor: pointer;
}

.classic-btn:hover::before {
  left: 101%;
}

.classic-btn:active {
  box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.std-hover-active {
  transition: all 0.25s ease;
}

.std-hover-active:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.std-hover-active:active {
  transform: scale(92%);
  filter: brightness(60%);
}

.minitrip-title {
  text-align: center;
  font-size: 1.6rem;
  color: var(--text-white);
}

.minitrip-p {
  text-align: start;
  font-size: 1.5rem;
}

@media (max-width: 800px) {}

@media(max-width: 550px) {
  .section-title {
    font-size: 2rem;
  }

  .minitrip-title {
    text-align: center;
    font-size: 1.6rem;
  }

  .minitrip-p {
    text-align: start;
    font-size: 1.4rem;
  }

}

@media(max-width: 430px) {
  .section-title {
    font-size: 1.6rem;
  }

  .minitrip-title {
    text-align: center;
    font-size: 1.4rem;
  }

  .minitrip-p {
    text-align: start;
    font-size: 1.2rem;
  }
}
