#call-to-action {
  height: auto;
  display: grid;
  place-items: center;
}

.short-divider {
  height: auto;
  width: auto;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1rem solid var(--main-border);
  border-bottom: 0.1rem solid var(--main-border);
  padding: 1rem;
  gap: 1.5rem;
}

#cta-title {
  width: 60%;
  color: var(--text-white);
  text-align: start;
  font-weight: 500;
}

#cta-demo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
  font-size: 1.2rem;
}

#cta-btn {
  color: var(--text-white);
}

@media (max-width: 700px) {
  .short-divider {
    flex-direction: column;
  }

  #cta-title {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  #cta-title {
    font-size: 1.2rem;
  }

  #cta-demo {
    padding: 0.8rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  #cta-title {
    font-size: 1rem;
    font-weight: 500;
  }

  #cta-demo {
    font-size: 1rem;
  }
}
