#call-to-action {
  height: auto;
  display: grid;
  place-items: center;
  margin: 3rem 0;
}

.short-divider {
  height: auto;
  width: auto;
  max-width: 90%;
  min-width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 0.07rem solid var(--medium-border);
  border-bottom: 0.07rem solid var(--medium-border);
  padding: 1rem;
}

#cta-title {
  width: 50%;
  color: var(--text-white);
  font-weight: 700;
  font-size: 1.8rem;
}

#cta-demo {
  padding: 1rem 1rem;
}

@media (max-width: 500px) {
  #cta-title {
    font-size: 1.1rem;
  }
}

@media (max-width: 410px) {
  #cta-demo {
    padding: 0.9rem 0.7rem;
  }
}
