#header {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: var(--text-white);
  padding-top: 8%;
  padding-bottom: 2%;
}

#main-text-cont {
  position: relative;
  background-color: var(--blue-bg);
  flex-wrap: wrap;
  text-align: center;
  /* box-shadow: 0px 0px 0.5rem var(--blue-shadow); */
  border: 0.1rem solid var(--main-border);
  box-shadow: 0 0 6rem var(--blue-shadow);
  border-radius: 10rem;
  padding: 3rem;
  max-width: 90%;
  z-index: 1;
}


.main-text {
  color: var(--text-white);
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow: 1.5px 1.5px var(--blue-shadow);
}

#second-text-cont {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90%;
}

.second-text {
  color: var(--text-grey);
  font-size: 2rem;
}

#service-btn-ctn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

#service-btn {
  display: grid;
  place-items: center;
  font-size: 1.4rem;
  color: var(--text-white);
}

@media (max-width: 1200px) {
  #main-text-cont {
    padding: 2rem;
    border-radius: 5rem;
  }

  .main-text {
    font-size: 3rem;
  }

  .second-text {
    font-size: 1.5rem;
  }

  #service-btn-ctn {
    padding: 0.8rem;
  }
}

@media (max-width: 700px) {
  #header {
    padding-bottom: 5%;
  }

  #main-text-cont {
    padding: 2rem;
    border-radius: 3rem;
  }

  .main-text {
    font-size: 2.5rem;
  }

  .second-text {
    font-size: 1.3rem;
  }

  #header-ghost {
    height: 9%;
  }

  #service-btn-ctn {
    font-size: 1.1rem;
  }
}

@media (max-width: 450px) {
  #header {
    padding-bottom: 9%;
  }

  #main-text-cont {
    padding: 1.5rem;
    border-radius: 3rem;
  }

  .main-text {
    font-size: 2rem;
  }

  .second-text {
    font-size: 1.3rem;
  }

  #header-ghost {
    height: 6vh;
  }
}
