#navbar-cont {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

#navbar {
  position: relative;
  width: 80vw;
  max-width: 1000px;
  padding: 0.2rem 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 10000;
  user-select: none;
  /* border: 0.1rem solid var(--dark-border); */
  background-color: var(--glass-blue-bg);
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.15rem var(--blue-shadow);
  border: 0.1rem solid var(--main-border);
}

#nav-title-cont {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

#nav-btn-cont {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

#nav-menu-cont {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#nav-title {
  font-size: 2.5rem;
  color: var(--text-white);
  text-shadow: 2px 2px var(--blue-shadow);
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  list-style: none;
  font-size: 1.2rem;
  color: var(--text-white);
}

#nav-menu-classic {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
}

#nav-menu-tablet {
  border-style: none;
  background-color: rgb(0, 0, 0, 0%);
}

#dropdown-menu-cont {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}

#dropdown-menu {
  border-left: 0.1rem solid var(--main-border);
  border-bottom: 0.1rem solid var(--main-border);
  border-right: 0.1rem solid var(--main-border);
  border-radius: 1rem;
}

.dropdown-btn {
  background-color: var(--glass-blue-bg);
  padding: 0.5rem;
  color: var(--text-white);
  border-style: none;
  width: 100%;
  font-size: 1rem;
  z-index: 10000;
  border-top: 0.1rem solid var(--main-border);
}

.dropdown-btn:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.dropdown-btn:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#navbar-demo {
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
}

@media(max-width: 700px) {
  #nav-title {
    font-size: 2rem;
    color: var(--text-white);
    text-shadow: 2px 2px var(--blue-shadow);
  }

  .nav-menu {
    font-size: 1rem;
  }

  #navbar-demo {
    padding: 0.6rem 0.6rem;
    font-size: 1rem;
  }
}

@media(max-width: 410) {
  #nav-title {
    font-size: 1.3rem;
    color: var(--text-white);
    text-shadow: 2px 2px var(--blue-shadow);
  }

  .nav-menu {
    font-size: 1rem;
  }

  #navbar-demo {
    padding: 0.4rem 0.4rem;
    font-size: 1rem;
  }
}
